{% extends 'base.html' %}
{% load static %}

{% block body %}


<main class="principal">
    <section class="conta">

    {% if alterado %}
    <p>Alterações salvas com sucesso</p>
    {% endif %}

    {% if erro == "formulario_invalido" %}
    <p>Formulário Inválido, tente novamente</p>
    {% endif %}

      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Dados pessoais</p>
        </div>

        {% if erro == "email_existente" %}
        <p>Já existe um usuário com esse e-mail</p>
        {% endif %}

        <form
          class="conta__form"
          action="{% url 'minha_conta' %}"
          method="post"
        >
        {% csrf_token %}
          <div class="conta__item">
            <label for="nome">Nome</label>
            <input name="nome" type="text" placeholder="Nome Completo" 
            {% if request.user.cliente.nome %}
                value="{{ request.user.cliente.nome }}"
            {% endif %} />
          </div>

          <div class="conta__item conta__item--email">
            <label for="email">E-mail</label>
            <input name="email" type="email" placeholder="Email" value="{{ request.user.email }}" />
          </div>

          <div class="conta__item">
            <label for="telefone">Telefone</label>
            <input name="telefone" type="number" placeholder="Telefone" value="{{ request.user.cliente.telefone }}" />
          </div>

          <button class="subtotal__botao" type="submit">
            Salvar alterações
          </button>
        </form>
      </div>

      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Alterar a Senha</p>
        </div>

        {% if erro == "senha_incorreta" %}
        <p>Sua senha está incorreta</p>
        {% endif %}
    
        {% if erro == "senhas_diferentes" %}
        <p>Nova Senha e confirmação da nova senha não estão iguais</p>
        {% endif %}

        <form
          class="conta__form"
          action="{% url 'minha_conta' %}"
          method="post"
        >
        {% csrf_token %}
          <div class="conta__item">
            <label for="senha_atual">Senha Atual</label>
            <input name="senha_atual" type="password" />
          </div>

          <div class="conta__item">
            <label for="nova_senha">Nova Senha</label>
            <input name="nova_senha" type="password" />
          </div>

          <div class="conta__item">
            <label for="nova_senha_confirmacao">Confirmação da Nova Senha</label>
            <input name="nova_senha_confirmacao" type="password" />
          </div>

          <button class="subtotal__botao" type="submit">
            Salvar alterações
          </button>
        </form>
      </div>
    </section>
  </main>

{% endblock %}