{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal">
    <section class="conta">
      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Principais Indicadores</p>
        </div>
        <p>Faturamento: R$ {{ faturamento }}</p>
        <p>Produtos Vendidos: {{ qtde_produtos }}</p>
        <p>Total Pedidos: {{ qtde_pedidos }}</p>

      </div>

      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Exportar Relatórios</p>
        </div>

        <div class="conta__form">
                <a class="subtotal__botao" href="{% url 'exportar_relatorio' 'pedido' %}">
                    Exportar Pedidos
                </a>
        </div>

        <div class="conta__form">
            <a class="subtotal__botao" href="{% url 'exportar_relatorio' 'cliente' %}">
                Exportar Clientes
            </a>
        </div>

        <div class="conta__form">
            <a class="subtotal__botao" href="{% url 'exportar_relatorio' 'endereco' %}">
                Exportar Endereços
            </a>
        </div>
      </div>
    </section>
  </main>

{% endblock %}